html {
  font-size: 62.5%;
}

p {
  margin-top: 0;
  margin-bottom: 0rem;
}

ul {
  padding: 0;
  margin: 0;
}

.bg-font {
  font-size: 4.8rem;
  color: rgba(0, 51, 102, 0.1);
  font-weight: 900;
}
@media screen and (min-width: 768px) {
  .bg-font {
    font-size: 6.4rem;
  }
}

.h2-font, h2 {
  font-size: 2rem;
  color: #003366;
}
@media screen and (min-width: 768px) {
  .h2-font, h2 {
    font-size: 2.4rem;
  }
}

.md-font, .nav, .main .news-more, .main .houses-textarea_name {
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .md-font, .nav, .main .news-more, .main .houses-textarea_name {
    font-size: 1.8rem;
  }
}

.sl-font, .main .search-text {
  font-size: 1.4rem;
}
@media screen and (min-width: 768px) {
  .sl-font, .main .search-text {
    font-size: 1.6rem;
  }
}

.p-font, .main .houses-textarea_addres, .main .houses-textarea_near {
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .p-font, .main .houses-textarea_addres, .main .houses-textarea_near {
    font-size: 1.4rem;
  }
}

.sm-font, .main .houses-textarea_feature {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .sm-font, .main .houses-textarea_feature {
    font-size: 1.2rem;
  }
}

.item-mt, .main .search-area, .main .search-rent, .main .search-room, .main .search-terms, .main .houses-area, .main .buy-area {
  margin-top: 30px;
}

.sm-mg {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .sm-mg {
    margin-bottom: 25px;
  }
}

.md-mg {
  margin-bottom: 50px;
}

.section-mg, .main .houses, .main .buy {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.hidden {
  overflow: hidden;
}

#global-container {
  margin-top: 2%;
  position: relative;
  z-index: 0;
}
#global-container.navOpen #container {
  transform: translate(-170px, 30px);
}
#global-container.navOpen #container-cover {
  display: block;
  z-index: 5;
}
body #global-container.navOpen {
  overflow: hidden;
}

#container {
  position: relative;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
#container-cover {
  border-radius: 10px;
  display: none;
  position: absolute;
  width: 98%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-menu {
  position: absolute;
  width: 175px;
  top: 50px;
  right: 0;
  margin-left: auto;
  z-index: -1;
}
.nav-item {
  padding: 10px;
}

.header {
  position: relative;
  width: 96%;
  height: 95vh;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../imgs/top_img_sm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../imgs/top_img_lg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.header-flex {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.header-logo img {
  width: 235px;
  height: 50px;
}
.header-text {
  position: relative;
  width: 100%;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.header-text_area {
  text-align: center;
  color: white;
  font-weight: 900;
}
.header-text_area h2 {
  color: white;
  font-size: 3.2rem;
  text-shadow: 2px 2px 2px #000000;
}
.header-text_area p {
  font-size: 2rem;
  margin-bottom: 0;
}
.header-text_area p:nth-of-type(2) {
  font-size: 1.6rem;
}
.header-btn {
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .header-btn {
    display: none;
  }
}
.header-btn_item {
  width: 30px;
  height: 30px;
  margin: 10px auto;
  box-sizing: border-box;
  border: 1px solid white;
  cursor: pointer;
}
.header-btn_bd {
  display: block;
  margin: 0 auto;
  width: 23px;
  height: 4px;
  background-color: white;
}
.header-btn_bd:first-child {
  margin-top: 3px;
  margin-bottom: 6px;
}
.header-btn_bd:last-child {
  margin-top: 6px;
  margin-bottom: 3px;
}

.main {
  width: 100%;
  height: 500px;
}
.main .news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 360px;
  height: 40px;
  margin: 20px auto;
  background-color: #A3B8CC;
  border: 1px solid #003366;
  box-sizing: border-box;
  border-radius: 10px;
}
.main .news-more {
  width: 20%;
  height: 40px;
}
.main .news-more p {
  text-align: center;
  line-height: 40px;
}
.main .news .swiper {
  width: 100%;
  height: 40px;
}
.main .news .swiper-slide a {
  text-decoration: none;
}
.main .news .swiper-slide p {
  display: inline-block;
  line-height: 40px;
  text-align: center;
}
.main .news .swiper-slide p:nth-child(1) {
  width: 30%;
}
.main .news .swiper-slide p:nth-child(2) {
  width: 50%;
}
.main .search {
  width: 95%;
}
.main .search-header {
  position: relative;
  width: 100%;
  height: 60px;
}
.main .search-header_bg {
  width: 300px;
  position: absolute;
  align-items: center;
  top: 0;
  left: 5%;
}
.main .search-header_bg img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
}
.main .search-header_text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main .search-header_text h2 {
  margin-bottom: 0;
}
.main .search-content {
  justify-content: space-between;
}
.main .search-text {
  font-weight: 600;
}
.main .search-area_item {
  height: 80px;
}
.main .search-area_item .bg {
  display: block;
  text-decoration: none;
  color: white;
  width: 100%;
  max-width: 180px;
  height: 60px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #003366;
}
.main .search-area_item .bg p {
  text-align: center;
  line-height: 60px;
  font-size: 3.6rem;
}
.main .search-rent_item {
  height: 50px;
}
.main .search-rent_item .bg {
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
  max-width: 120px;
  height: 30px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #A3B8CC;
}
.main .search-rent_item .bg p {
  text-align: center;
  line-height: 30px;
  font-size: 1.2rem;
}
.main .search-room_item {
  height: 50px;
}
.main .search-room_item .bg {
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
  max-width: 120px;
  height: 30px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #A3B8CC;
}
.main .search-room_item .bg p {
  text-align: center;
  line-height: 30px;
  font-size: 1.2rem;
}
.main .search-terms_item {
  height: 90px;
}
.main .search-terms_item .bg {
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
  max-width: 120px;
  height: 70px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #E6E6E6;
}
.main .search-terms_item .bg p {
  text-align: center;
  line-height: 20px;
  font-size: 1rem;
}
.main .search-terms_img {
  margin-top: 5px;
  height: 45px;
}
.main .houses {
  position: relative;
  width: 95%;
}
.main .houses::before {
  top: 0;
  left: 2%;
  content: "";
  position: absolute;
  background-color: #A3B8CC;
  border-radius: 50px 0 0 50px;
  width: 105%;
  height: 1200px;
}
.main .houses-container {
  position: relative;
  z-index: 2;
  justify-content: space-around;
}
.main .houses-header {
  position: relative;
  width: 100%;
  height: 60px;
}
.main .houses-header_bg {
  width: 300px;
  position: absolute;
  align-items: center;
  top: 0;
  left: 5%;
}
.main .houses-header_bg img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
}
.main .houses-header_text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main .houses-header_text h2 {
  margin-bottom: 0;
}
.main .houses-area {
  position: relative;
  max-width: 200px;
  height: 210px;
  left: 5%;
}
.main .houses-img {
  position: absolute;
  width: 150px;
  height: 120px;
  right: 0;
  top: 0;
  z-index: 0;
}
.main .houses-size {
  position: absolute;
  height: 20px;
  width: 70px;
  left: 0;
  top: 110px;
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  z-index: 2;
}
.main .houses-size p {
  text-align: center;
  line-height: 20px;
  font-weight: 600;
}
.main .houses-textarea {
  position: absolute;
  width: 155px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.main .houses-textarea li {
  list-style-type: none;
}
.main .houses-textarea_rent {
  align-self: end;
  font-size: 2rem;
  line-height: 25px;
  font-weight: 700;
  padding-right: 10px;
}
.main .houses-textarea_name {
  font-weight: 700;
  line-height: 20px;
}
.main .houses-textarea_addres {
  line-height: 15px;
}
.main .houses-textarea_near {
  line-height: 15px;
}
.main .houses-textarea_feature {
  line-height: 12px;
}
.main .buy {
  position: relative;
  width: 95%;
}
.main .buy::before {
  top: 40px;
  right: 2%;
  content: "";
  position: absolute;
  background-color: white;
  border-radius: 0 50px 50px 0;
  width: 105%;
  height: 1000px;
}
.main .buy-header {
  position: relative;
  width: 100%;
  height: 60px;
}
.main .buy-header_bg {
  width: 300px;
  position: absolute;
  align-items: center;
  top: 0;
  left: 5%;
}
.main .buy-header_bg img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
}
.main .buy-header_text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main .buy-header_text h2 {
  margin-bottom: 0;
}
.main .buy-container {
  position: relative;
  z-index: 2;
  justify-content: space-around;
}
.main .buy-area {
  width: 320px;
  height: 320px;
  border-radius: 50px;
  border: 1px solid black;
}/*# sourceMappingURL=style.css.map */